@page "/"
@using System.IO
<PageTitle>Index</PageTitle>
<h1>Blazor Server File Upload</h1>

<h3>@Message</h3>

<form @onsubmit="OnSubmit">
    <InputFile OnChange="OnInputFileChange" multiple />
    <br /><br />
    <button type="submit">Upload Selected File(s)</button>
</form>

@code {

    string Message = "No file(s) selected";
    IBrowserFile selectedFile;
    

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;

        Message = $"{selectedFile.Name} selected";
        this.StateHasChanged(); 
    }

    private async void OnSubmit()
    {
      
   
        try
        {
            var path = $"../../DockerDeployment/DockerDeployment/Saved/{selectedFile.Name}";

            FileStream filestream = new FileStream(path, FileMode.Create, FileAccess.ReadWrite);
            await selectedFile.OpenReadStream(1024*1000000000000).CopyToAsync(filestream);
            Console.WriteLine("file uploaded");                
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error message" + ex.Message);
        }





        Message = $"{selectedFile.Name} uploaded on server";
        this.StateHasChanged();
    }

}